{%extends 'base.html'%}
{%block start%}
<div class="container">
    <form class="form-signin" method="post">
        {% csrf_token %}
        <h1 class="h3 mb-3 font-weight-normal">Create Account</h1>
        <label for="username" class="sr-only">Username</label>
        <input type="text" id="username" name="username" class="form-control my-1" placeholder="Create username"
               required=""
               autofocus="">
        <label for="password" class="sr-only">Password</label>
        <input type="password" id="password" name="password" class="form-control my-1" placeholder="Password"
               required="">
        <button class="btn btn-primary btn-block" type="submit">Sign in</button>
    </form>
</div>
{%endblock %}